
body {
  background-color: #f5f5f5;
  margin: 0;
  overflow: hidden;
}


// -------------------------
// ! Misc
// -------------------------

a,
a:visited {
  color: $blue;
}

a:hover,
a:visited:hover {
  color: $green;
  text-decoration: underline;
}

a:focus,
button:focus {
  outline: none;
}


// -------------------------
// ! Header
// -------------------------

header {
  background-color: $black_4;
  // border-right: 1px solid #e0e0e0;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  float: left;
  padding: 0;
  width: 77px;
  @include transition(width 0.3s cubic-bezier(.82, .1, .14, 1.12));
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  .header-wrap {
    background-color: $black_3;
    padding: 77px 0 0 0;
    width: 77px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      // position: relative;
      // z-index: 1;

      i.fa {
        color: #5a5a5a;
        font-size: 32px;
        text-align: center;
        border-radius: 2px 0 0 2px;
        display: block;
        margin: 0 0 20px 10px;
        padding: 10px 10px 10px 0;
        width: 67px;

        &:hover {
          color: #ccc;
        }
      }
    }

    li li {
      color: #ccc;
      font-size: 14px;
      margin: 0 0 4px;
      padding: 4px 3% 4px 1px;
      clear: left;

      &:hover {
        cursor: default;
        color: #fff;

        i.fa {
          color: #fff;
        }
      }

      &:last-child {
        margin-bottom: 10px;
      }

      i.fa {
        color: #888;
        font-size: 14px;
        border-radius: none;
        float: left;
        margin: 4px 0 0;
        padding: 0;
        width: 34px;
      }
    }

    p {
      color: #777;
      font-size: 12px;
      // font-weight: bold;
      margin: 0;
      padding: 4px 0 14px 10px;
      clear: left;

      &.next-head {
        margin-top: 0;
        padding-top: 25px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      width: 0;
      opacity: 0;
      overflow: hidden;
      @include transition(opacity 0.3s ease-out 0s);
      position: absolute;
      top: 9px;
      left: 77px;
      z-index: 1;

      lh {

        i.fa {
          color: #888;
          font-size: 14px;
          // text-align: left;
          border: none;
          float: left;
          margin: 0;
          padding: 9px 0;
          width: 34px;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    li.urls {

      li {
        padding: 4px 3% 4px 37px;
        position: relative;

        &:hover:before {
          color: #fff;
        }
      }

      li:before {
        color: #888;
        content: "\f0ac";
        font-family: FontAwesome;
        position: absolute;
        top: 4px;
        left: 10px;
      }
    }

    li.viewports {
    }
  }
}

// ! URL field elements
// -------------------------

header ul#url-submission {

  input[type="text"] {
    color: #ccc;
    font-size: 0.85rem;
    line-height: 21px;
    background-color: $black_3;
    background-image: none;
    border-color: $black_3;
    border-radius: 3px;
    box-shadow: none;
    float: left;
    margin: 0 0 10px;
    padding: 5px 3%;
    width: 82%;
    height: auto;
  }
}

header {

  input {
    @include gradient(#fff, #f2f2f2);
    // float: left;
    // margin: 0 10px 0 0 !important;
    -webkit-app-region: no-drag;
  }

  button {
    color: #737373;
    font-size: 0.85rem;
    line-height: 23px;
    border: 1px solid #ccc;
    @include gradient(#fff, #f2f2f2);
    // float: left;
    padding: 0;
    width: 40px;
    -webkit-app-region: no-drag;

    &:active,
    &:focus,
    &:hover {
      color: #333;
    }

    &.button-load {
      border-radius: 3px;
    }

    &.button-clear {
      border-left: none;
      border-radius: 0 3px 3px 0;
    }
  }

  #add-webview {
    color: #737373;
    font-size: 1.0rem;
    line-height: 23px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    @include gradient(#fff, #f2f2f2);
    float: right;
    margin-right: 15px;
    width: 40px;
  }
}


// -------------------------
// ! main
// -------------------------

main {
  margin-left: 77px;
  overflow: auto;
  @include transition(margin 0.3s cubic-bezier(.82, .1, .14, 1.12));

  .main-container {
  }
}


// expand sidebar
// --------------

body.open {

  header {
    width: 350px;

    ul {

      li ul {
        opacity: 0;
      }

      li.selected > i.fa {
        color: #ccc;
        background-color: $black_4;
      }

      li.selected ul {
        width: 273px;
        opacity: 1;
        @include transition(opacity 0.3s ease-out 0.3s);
      }
    }
  }

  main {
    margin-left: 350px;
  }
}


// -------------------------
// ! webview
// -------------------------

#device-area {
  background: transparent url(../img/webview-info-bg.svg) repeat-x left top;
  padding-bottom: 40px;
  padding-left: 20px;
  @include clearfix;
}

.device-window {
  float: left;
  margin-right: 40px;

  .webview-info {
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 10px;
    height: 38px;

    span.actions {
      float: right;
    }

    a {
      color: #878787;
      font-size: 12px;
      line-height: 17px;
      font-weight: normal;
      display: inline-block;
      margin-left: 20px;
    }

    a.web-inspector {
      background: transparent url(../img/icon-webinspect.svg) no-repeat left center;
      padding-left: 30px;
      height: 17px;
    }

    a.close-webview {
      background: transparent url(../img/icon-close.svg) no-repeat 15px center;
      border-left: 1px solid #d9d9d9;
      margin-left: 15px;
      padding-left: 40px;
    }
  }

  webview {
    background-color: #fff;
    // border: 1px solid #fff;
    display: block;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  iframe {

    &::-webkit-scrollbar {
      background-color: #fff;
      width: 10px;
      height: 7px;
    }
    &::-webkit-scrollbar-button {}
    &::-webkit-scrollbar-track {
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #fff;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #c2c2c2;
      border: 1px solid #fff;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #7d7d7d;
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: #7d7d7d;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    &::-webkit-resizer {}
  }
}
