
body {
  background-color: #ebebeb;
  margin: 0;
  overflow: hidden;
}


// -------------------------
// ! Misc
// -------------------------

a,
a:visited {
  color: $blue;
}

a:hover,
a:visited:hover {
  color: $green;
  text-decoration: underline;
}

a:focus,
button:focus {
  outline: none;
}


// -------------------------
// ! Header
// -------------------------

header {
  // @include gradient(#e6e5e5, #e0dfdf);
  background-color: #eee;
  border-bottom: 1px solid #cac9ca;
  padding: 7px 0 0 86px;
  height: 38px;
  -webkit-app-region: drag;


  input {
    @include gradient(#fff, #f2f2f2);
    float: left;
    margin: 0 10px 0 0 !important;
    -webkit-app-region: no-drag;
  }

  button {
    color: #737373;
    font-size: 0.85rem;
    line-height: 23px;
    border: 1px solid #ccc;
    @include gradient(#fff, #f2f2f2);
    float: left;
    padding: 0;
    width: 40px;
    -webkit-app-region: no-drag;

    &:active,
    &:focus,
    &:hover {
      color: #333;
    }

    &.button-load {
      border-radius: 3px;
    }

    &.button-clear {
      border-left: none;
      border-radius: 0 3px 3px 0;
    }
  }

  #add-webview {
    color: #737373;
    font-size: 1.0rem;
    line-height: 23px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    @include gradient(#fff, #f2f2f2);
    float: right;
    margin-right: 15px;
    width: 40px;
  }
}

// Window Controls
header > ul {
  float: left;
  line-height: 0;
  padding-top: 12px;
  padding-left: 8px;
  cursor: default;

  & > li,
  & > li > a,
  & > li > span {
    display: inline-block;
  }

  & > li > a,
  & > li > span {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 14px;
    height: 14px;
    margin: 5px 0 0;
    cursor: default;
    -webkit-app-region: no-drag;

    &:hover,
    &:focus {
      outline: none;
    }
  }
}

header ul {

  a#windowControlClose {
    background-image: url(../img/gui/traffic-close.png);
    @include image-2x("../img/gui/traffic-close@2x.png", 14px, 42px);
  }

  a#windowControlMinimize {
    background-image: url(../img/gui/traffic-minimise.png);
    @include image-2x("../img/gui/traffic-minimise@2x.png", 14px, 42px);
  }

  span#windowControlMaximize {
    background-image: url(../img/gui/traffic-disabled.png);
    @include image-2x("../img/gui/traffic-disabled@2x.png", 14px, 14px);
  }

  &:hover {

    a#windowControlClose,
    a#windowControlMinimize {
      background-position: 0 -14px;
    }

    a#windowControlClose:active {
      background-position: 0 -28px;
    }

    a#windowControlMinimize:active {
      background-position: 0 -28px;
    }
  }
}


// -------------------------
// ! URL field elements
// -------------------------

#url-submission {

  input[type="text"] {
    font-size: 0.85rem;
    line-height: 21px;
    border-radius: 3px;
    box-shadow: none;
    padding: 2px 5px 0;
    width: 80%;
    height: auto;
  }
}


// -------------------------
// ! main
// -------------------------

main {
  overflow: auto;

  .main-container {
  }
}


// -------------------------
// ! webview
// -------------------------

#device-area {
  background: transparent url(../img/webview-info-bg.svg) repeat-x left top;
  padding-bottom: 40px;
  padding-left: 20px;
  @include clearfix;
}

.device-window {
  float: left;
  margin-right: 40px;

  .webview-info {
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 8px;
    height: 38px;

    span.actions {
      float: right;
    }

    a {
      color: #878787;
      font-size: 12px;
      line-height: 17px;
      font-weight: normal;
      display: inline-block;
      margin-left: 20px;
    }

    a.web-inspector {
      background: transparent url(../img/icon-webinspect.svg) no-repeat left center;
      padding-left: 30px;
      height: 17px;
    }

    a.close-webview {
      background: transparent url(../img/icon-close.svg) no-repeat 15px center;
      border-left: 1px solid #d9d9d9;
      margin-left: 15px;
      padding-left: 40px;
    }
  }

  webview {
    background-color: #fff;
    // border: 1px solid #fff;
    display: block;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  iframe {

    &::-webkit-scrollbar {
      background-color: #fff;
      width: 10px;
      height: 7px;
    }
    &::-webkit-scrollbar-button {}
    &::-webkit-scrollbar-track {
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #fff;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #c2c2c2;
      border: 1px solid #fff;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #7d7d7d;
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: #7d7d7d;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    &::-webkit-resizer {}
  }
}
